body{
font-family:Arial;
background:#f4f6f9;
}

.contenedor{
width:90%;
max-width:700px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
margin-top:20px;
}

h1{
text-align:center;
color:#0d47a1;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:#0d47a1;
color:white;
border:none;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

th{
background:#0d47a1;
color:white;
}body{
background:#f4f6f9;
font-family:Arial;
}

.contenedor{
width:500px;
margin:auto;
margin-top:30px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

h1{
text-align:center;
color:#0d47a1;
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:10px;
}

button,.boton{
display:block;
background:#0d47a1;
color:white;
padding:12px;
text-decoration:none;
text-align:center;
border:none;
}
